HELP.md
README.md
.gitignore

### Gradle ###
.gradle
.github
gradlew
gradlew.bat
settings.gradle
build/
gradle/
!**/src/main/**/build/
!**/src/test/**/build/

### Docker ###
Dockerfile
docker-compose.yml
docker-compose-db.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode